spring:
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/testdb
    username: ${ORACLE_DB_USERNAME}
    password: ${ORACLE_DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        default_schema: TEST_USER
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: false
