spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PSSWRD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default_schema: pctaller