spring:
  application:
    name: PersonManager
  banner:
    location: JPD.txt
  jpa:
    properties:
      generate-ddl: true
      hibernate:
        "[format_sql]": true
        "[show_sql]": true
server:
  port: ${SERVER_PORT:8080}
logging:
  level:
   "[org.springframework.web]": INFO
   
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://${EUREKA_INSTANCE_HOSTNAME:localhost}:${EUREKA_PORT:9876}/eureka